* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .col {
  padding: 0;
} */

/* .hero {
  height: 35rem;
}

.row-hero {
  height: inherit;
}

.col-hero {
  height: inherit;
} */

.scale-img {
  transition: transform 1s;
}

.scale-img:hover {
  /* scale: 1.25; */
  transform: scale(1.1);
}

.card {
  opacity: 0;
  scale: 0;
  transform: translateX(-100%);
  transition: opacity 1s, scale 1s, transform 1s;
}
.card.show {
  opacity: 1;
  scale: 1;
  transform: translateX(0);
}

.card-img-overlay {
  top: unset;
}

.text-underline {
  position: relative;
}
.text-underline::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 3px;
  background-color: black;
  transition: width 1s;
}

.text-underline:hover::after {
  width: 100%;
}

/* 
.dark-overlay {
  position: relative;
}

.dark-overlay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, grey, transparent);
  z-index: -1;
} */
