* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

:root {
  --hover-color: #1a4fba;
}

/* .col {
  padding: 0;
} */

/* .hero {
  height: 35rem;
}

.row-hero {
  height: inherit;
}

.col-hero {
  height: inherit;
} */

/* .card {
  opacity: 0;
  scale: 0;
  transform: translateX(-100%);
  transition: opacity 1s, scale 1s, transform 1s;
}
.card.show {
  opacity: 1;
  scale: 1;
  transform: translateX(0);
} */

.card-img-overlay {
  top: unset;
}

.text-underline {
  position: relative;
}
.text-underline::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 3px;
  background-color: black;
  transition: width 1s;
}

.text-underline:hover::after {
  width: 100%;
}

.scale-img img {
  transition: scale 1s;
}

.scale-img img:hover {
  scale: 1.1;
}

.gg-menu-right {
  scale: 1.5;
  cursor: pointer;
  color: lightgray;
  transition: color 1s;
}

.gg-menu-right:hover {
  color: var(--hover-color);
}

.search-icon {
  scale: 1.5;
  color: lightgray;
  transition: color 1s;
  cursor: pointer;
}

.search-icon:hover {
  color: var(--hover-color);
}

.search-icon::after {
  border: 0;
  margin: 0;
  display: block;
}

.search-popup {
  width: 17rem;
  top: 2rem;
  right: 0;
}
